---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="Borgir">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">Blog Kelompok 4</h2>
        <div class="tag-post-list">
          <ul>
            <li>Zidan Alif Fadhillah</li>
            <li>Syarla Nabila Nasywa</li>
            <li>Tita Suryani</li>
            <li>Zhelita Ayu</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
