---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="Borgir">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">Blog Zidan</h2>
        <div class="tag-post-list">
          <ul>
            <li>Yoona</li>
            <li>Zidan</li>
            <li>Apalah</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Zidan</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://facebook.com/zidanalfdllh" target="_blank">Facebook</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
